.btn-main-color{
    background-color: var(--main-color);
    color: var(--light-color);
}
.btn-main-color:hover{
    background-color: var(--light-color);
    color: var(--main-color);
}
.icon-rating{
    color: var(--rating-color);
}
.image .image-action{
    transition: all 0.5s ease-in;
}
.image:hover .image-action{
    transform: scale(1.1);
}
.fa-heart{
    z-index: 18888;
}